<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="TrainingPlanWriteForm"/>
    <title>책임GYM</title>


</head>
<body>
<div>
    <form action="trainingPlanRegist" method="post" enctype="multipart/form-data">
        <table>
            <caption>견적서 등록</caption>
            <tr>
                <th>아이디</th>
                <td><input type="text" name="trainingPlanId" th:value="${session.login.memberId}"></td>
                <!-- hidden값으로 바꿀 예정 220620 -->
            </tr>
            <tr>
                <th>운동목적</th>
                <td><select name="trainingPlanPurpose">
                    <option th:value="벌크업" th:text="벌크업"></option>
                    <option th:value="다이어트" th:text="다이어트"></option>
                </select>
                </td>
            </tr>
            <tr>
                <th>등급</th>
                <td><input type="button" onclick="sendGrade('초급')" id="beginner" name="trainingPlanGrade" th:value="초급">
                    <input type="button" onclick="sendGrade('중급')" id="expert" name="trainingPlanGrade" th:value="중급">
                </td>
            </tr>
            <tr>
                <th>운동루틴</th>
                <td><input type="text" name="trainingPlanMyRoutineCode"></td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="제출">
                    <input type="reset" value="다시작성">
                </td>
            </tr>
        </table>
    </form>
</div>


</form>
<div id="sendGradeView"></div>
<div id="sendPartView"></div>

<div id="showTrainingGif">

</div>
<div style="float: right" id="showTrainingDetail">
    456
</div>
</div>
<div id="showTrainingPart" style="position:absolute; right:260px; top:60px;">운동리스트
</div>

<div id="showTrainingDay1" style="float:right;"></div></br>
<div id="showTrainingDay2" style="float:right;"></div></br>
<div id="showTrainingDay3" style="float:right;"></div></br>
<div id="showTrainingDay4" style="float:right;"></div></br>
<div id="showTrainingDay5" style="float:right;"></div>
</body>

<script src="https://code.jquery.com/jquery-latest.js"></script>
<script th:inline="javascript">

    function sendGrade(Grade) {
        const sendGradeView = document.getElementById('sendGradeView');

        var grade = Grade;

        console.log(grade);
        $.ajax({
            url     : "ajax/sendGrade",
            type    : "GET",
            dataType: "json",
            data    : {"trainingGrade": grade},
            success : function (result) {

                showGrade(result);
                showTrainingPart(result);

            },
            error   : function (request, status, error) {

                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

            }
        });

    }


    function showGrade(result) {

        var output = "";
        output += "<div>";

        for (var i in result) {

            output += "<button onclick =sendPart('" + result[i].trainingPart + "') value = '" + result[i].trainingPart + "'>" + result[i].trainingPart + "</button>";

        }
        output += "</div>";


        var sendGradeView = document.getElementById('sendGradeView');
        sendGradeView.innerHTML = output;

    }

    function sendPart(Part) {

        const sendPartView = document.getElementById('sendPartView');
        var trainingPart = Part;

        $.ajax({
            url     : "ajax/sendPart",
            type    : "GET",
            dataType: "json",
            data    : {"trainingPart": trainingPart},
            success : function (result) {
                showPart(result);
                select = Part;
                console.log(Part);
                console.log(select);
            },
            error   : function (request, status, error) {

                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

            }
        });
    }

    function showPart(result) {

        var output = "";
        output += "<div>";

        for (var i in result) {

            output += "<button onclick=sendTraining('" + result[i].trainingCode + "')>" + result[i].trainingName + "</button>";

        }
        output += "</div>";


        var sendPartView = document.getElementById('sendPartView');
        sendPartView.innerHTML = output;

    }

    function sendTraining(trainingCode) {

        $.ajax({
            url     : "ajax/sendTraining",
            dataType: "json",
            type    : "GET",
            data    : {"trainingCode": trainingCode},
            success : function (result) {
                alert('sendTraining 성공');

                sendTrainingView(result);

            }, error: function (request, status, error) {

                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

            }
        })
    }

    function sendTrainingView(result) {

        var output1 = "";
        var output2 = "";

        output1 += "<div>";

        output1 += "<img src='" + result.trainingGifName + "'/>";

        output1 += "</div>";

        output2 += "<div>";

        output2 += "<h1>" + result.trainingName + "</h1>";
        output2 += "<p>" + result.trainingComment + "</p>";

        output2 += "</div>";

        var showTrainingGif = document.getElementById('showTrainingGif');
        showTrainingGif.innerHTML = output1;

        var showTrainingDetail = document.getElementById('showTrainingDetail');
        showTrainingDetail.innerHTML = output2;
    }

    // trainingRegist 시작
    function showTrainingPart(result) {
        var output = "";
        output += "<input type ='text' name = 'myRoutineTitle' placeholder='루틴명을 입력하세요'>";
        output += "<div>";

        for (var i = 1; i <= 5; i++) {
            output += "<select name = 'trainingPart' onchange ='sendTrainingPart("+i+",this.value)'>";
            output += "<option value =''>선택하세요</option>"
            for (var j in result) {
                output += "<option value = '" + result[j].trainingPart + "'>" + result[j].trainingPart + "</option>";
            }
            output += "</select></br>";
        }
        output += "</div>";


        var showTrainingPart = document.getElementById('showTrainingPart');
        showTrainingPart.innerHTML = output;
    }

    function sendTrainingPart(number,trainingPart) {

        $.ajax({
            url     : "ajax/sendTrainingPart",
            type    : "GET",
            dataType: "json",
            data    : {"trainingPart": trainingPart},
            success : function (result) {

                showTraining(number,result);
                console.log(result);
            },
            error   : function (request, status, error) {

                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

            }
        });


    }

    function showTraining(number,training) {

        var output = "";
        output += "<div>";

        for (var i = 1; i <= 5; i++) {

            output += "<select name = 'training' id ='training"+i+"'>";
            output += "<option value = ''>선택하세요</option>";

            for (var j in training) {
                output += "<option value ='" + training[j].trainingCode + "'>" + training[j].trainingName + "</option>";
            }

            output += "</select></br>";

        }
        output += "</div>";
        var id = 'showTrainingDay'+number;
        var showTraining = document.getElementById(id);
        showTraining.innerHTML = output;

    }
</script>
</html>