<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="junlazy"/>
    <meta name="description" content="inputBoot index"/>
    <title>Spring Boot Index</title>
</head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<body>

<form action="companyRegist" method="POST" enctype="multipart/form-data">

    <div class="memberRegistcontainer">

        <div class="header">
            <h1><img class="logo" src="/image/favicon.png">책임GYM<img class="logo" src="/image/favicon.png"></h1>
            <h3>기업등록</h3>
        </div>

        <div class="memberRegistcontainer2" id="memberRegistcontainer2">
            <div class="loginForm" id="loginForm">
                <input type="hidden" name="companyId" th:value="${session.login.memberId}"/>

                <div class="loginForm_input">
                    <label class="label">기업 이름</label>
                    <div><input class="lg_input" type="text" name="companyName"/></div>
                </div>

                <div class="loginForm_input">
                    <label>기업 상세설명</label>
                    <div><textarea class="lg_input" cols="20" rows="20" name="companyComment"></textarea></div>
                </div>

                <div class="loginForm_input">
                    <label>기업 사진</label>
                    <div><input class="lg_input" type="file" name="companyPhoto"/></div>
                </div>

                <div class="loginForm_input">
                    <label>기업 시설</label>
                    <div><input class="lg_input" type="text" name="companyEquipment"/>
                    </div>
                </div>

                <div class="loginForm_input">
                    <label>기업 주소</label>
                    <div><input class="lg_input" type="text" name="companyAddress"/></div>
                </div>

                <div class="loginForm_input">
                    <label>회원권</label>
                    <div>
                        <input class="lg_input" type="text" name="membership1DayPrice" placeholder="입력정보없음"/>
                        <input class="lg_input" type="text" name="membership1MonthPrice" placeholder="입력정보없음"/>
                        <input class="lg_input" type="text" name="membership3MonthPrice" placeholder="입력정보없음"/>
                        <input class="lg_input" type="text" name="membership6MonthPrice" placeholder="입력정보없음"/>
                        <input class="lg_input" type="text" name="membership1YearPrice" placeholder="입력정보없음"/>
                    </div>
                </div>
                <div class="loginForm_input">
                    <label>1:1 PT</label>
                    <div>
                        <input class="lg_input" type="text" name="personalTraining1TimePrice" placeholder="입력정보없음"/>
                        <input class="lg_input" type="text" name="personalTraining10TimePrice" placeholder="입력정보없음"/>
                        <input class="lg_input" type="text" name="personalTraining20TimePrice" placeholder="입력정보없음"/>
                        <input class="lg_input" type="text" name="personalTraining30TimePrice" placeholder="입력정보없음"/>
                    </div>
                </div>

                <div class="lg_input_btn2">
                    <input type="submit" value="등록"/>
                </div>
            </div>
        </div>

    </div>
    <input type="hidden"  id="uuid" name="companyCode"/>
    <!-- grid 끝-->
</form>
</body>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script>
    function guid() {
        function s4() {
            return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
        }

        return s4() + s4();
    }

    function show_uuid() {
        document.getElementById('uuid').value = guid();
    }

    $('document').ready(function () {
        show_uuid();
    })
</script>

</html>