<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="TrainingPlanWriteForm"/>
    <title>책임GYM</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">


</head>
<body>

    <form action="myRoutineRegist" method="post" enctype="multipart/form-data" onsubmit="return false">
        <div style="width: 40%; height: 20%; background-size: cover; float: left;">
        <table>
            <caption>견적서 등록</caption>
            <tr>
                <input type="hidden" name="myRoutineId" th:value="${session.login.memberId}">
                <input type="hidden" size="15" id="uuid" name="myRoutineCode"/>
                <!-- hidden값으로 바꿀 예정 220620 -->
            </tr>
            <tr>
                <th>운동목적</th>
                <td>
                    <label class="test_obj">
                        <input type="radio" name="myRoutinePurpose" value="벌크업">
                        <span>벌크업</span>
                    </label>
                    <label class="test_obj">
                        <input type="radio" name="myRoutinePurpose" value="다이어트">
                        <span>다이어트</span>
                    </label>

                </td>
            </tr>
            <tr>
                <th>등급</th>
                <td>
                    <label class="test_obj">
                        <input type="radio" class="newArr" name="myRoutineGrade" value="초급" onclick="sendGrade(this.value)">
                        <span>초급</span>
                    </label>
                    <label class="test_obj">
                        <input type="radio" class="newArr" name="myRoutineGrade" value="중급" onclick="sendGrade(this.value)">
                        <span>중급</span>
                    </label>
                </td>
            </tr>




            <tr>
                <td>
                    <input type="submit" value="제출">
                    <input type="reset" value="다시작성">
                </td>
            </tr>
        </table>
</div>









<div id="showTrainingPart" style="float:right;"  class="container">운동리스트
</div>



    <div class="container" id="showTrainingDay1" style="float:right; flex-direction: column;"></div>

    <div class="container" id="showTrainingDay2" style="float:right;flex-direction: column;"></div>

    <div class="container" id="showTrainingDay3" style="float:right;flex-direction: column;"></div>

    <div class="container" id="showTrainingDay4" style="float:right;flex-direction: column;"></div>

    <div class="container" id="showTrainingDay5" style="float:right;flex-direction: column;"></div>

    <div class="container" id="showTrainingDay6" style="float:right;flex-direction: column;"></div>
    <div class="container" id="showTrainingDay7" style="float:right;flex-direction: column;"></div>


        <div id ="showLive1"  class="container"></div>
        <div id ="showLive2"  class="container"></div>
        <div id ="showLive3"  class="container"></div>
        <div id ="showLive4"  class="container"></div>
        <div id ="showLive5"  class="container"></div>
        <div id ="showLive6"  class="container"></div>
        <div id ="showLive7"  class="container"></div>



</form>



    <div id="showTrainingGif"></div>
    <div style="float: right" id="showTrainingDetail"></div>
</body>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script th:inline="javascript">
    var dayTrainingArray1 = new Array(1, '', '', '', '', '');
    var dayTrainingArray2 = new Array(2, '', '', '', '', '');
    var dayTrainingArray3 = new Array(3, '', '', '', '', '');
    var dayTrainingArray4 = new Array(4, '', '', '', '', '');
    var dayTrainingArray5 = new Array(5, '', '', '', '', '');
    var dayTrainingArray6 = new Array(6, '', '', '', '', '');
    var dayTrainingArray7 = new Array(7, '', '', '', '', '');

    $('input[name="myRoutineGrade"]').change(function(){
        $('input[name="myRoutineGrade"]').each(function(){
            var checked = $(this).prop('checked');

            if(checked){
                dayTrainingArray1 = new Array(1, '', '', '', '', '');
                dayTrainingArray2 = new Array(2, '', '', '', '', '');
                dayTrainingArray3 = new Array(3, '', '', '', '', '');
                dayTrainingArray4 = new Array(4, '', '', '', '', '');
                dayTrainingArray5 = new Array(5, '', '', '', '', '');
                dayTrainingArray6 = new Array(6, '', '', '', '', '');
                dayTrainingArray7 = new Array(7, '', '', '', '', '');


                for(var i=1 ; i<=7 ; i++){
                    dayId = '#showTrainingDay'+i;
                    liveId = '#showLive'+i;
                    $(dayId).empty();
                    $(liveId).empty();
                }

            }

                                                        })
    })


    function sendGrade(Grade) {

        var grade = Grade;

        console.log(grade);
        $.ajax({
            url: "ajax/sendGrade",
            type: "GET",
            dataType: "json",
            data: {"trainingGrade": grade},
            success: function (result) {

                showTrainingPart(result);

            },
            error: function (request, status, error) {

                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

            }
        });

    }






    function sendTraining(trainingCode) {

        $.ajax({
            url: "ajax/sendTraining",
            dataType: "json",
            type: "GET",
            data: {"trainingCode": trainingCode},
            success: function (result) {
                alert(result);

                sendTrainingView(result);

            }, error: function (request, status, error) {

                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

            }
        })
    }

    function sendTrainingView(result) {

        var output1 = "";
        var output2 = "";

        output1 += "<div>";

        output1 += "<img src='" + result.trainingGifName + "'/>";

        output1 += "</div>";

        output2 += "<div>";

        output2 += "<h1>" + result.trainingName + "</h1>";
        output2 += "<p>" + result.trainingComment + "</p>";

        output2 += "</div>";

        var showTrainingGif = document.getElementById('showTrainingGif');
        showTrainingGif.innerHTML = output1;

        var showTrainingDetail = document.getElementById('showTrainingDetail');
        showTrainingDetail.innerHTML = output2;
    }

    // trainingRegist 시작
    function showTrainingPart(result) {
        var output = "";
        output += "<input type ='text' name = 'myRoutineTitle' placeholder='루틴명을 입력하세요'>";
        output += "<div>";

        for (var i = 1; i <= 7; i++) {
            output += "<h1>Day" + i + "</h1>"

            output += "<select onchange ='sendTrainingPart(" + i + ",this.value)'>";
            output += "<option value =''>선택하세요</option>"
            for (var j in result) {
                output += "<option value = '" + result[j].trainingPart + "'>" + result[j].trainingPart + "</option>";
            }
            output += "</select></br>";
            output += ""
        }
        output += "</div>";


        var showTrainingPart = document.getElementById('showTrainingPart');
        showTrainingPart.innerHTML = output;
    }

    function sendTrainingPart(number, trainingPart) {

        $.ajax({
            url: "ajax/sendTrainingPart",
            type: "GET",
            dataType: "json",
            data: {"trainingPart": trainingPart},
            success: function (result) {

                showTraining(number, result);
                console.log(result);
            },
            error: function (request, status, error) {

                alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

            }
        });
    }

    function showTraining(day, training) {

        var output = "";
        output += "<div>";

        for (var i = 1; i <= 5; i++) {

            output += "<select id ='" + i + "' onchange='saveTemp(" + day + ",this.value," + i + ")'>";
            output += "<option value = ' '>선택하세요</option>";

            for (var j in training) {
                output += "<option value ='" + training[j].trainingCode + "'>" + training[j].trainingName + "</option>";
            }

            output += "</select></br>";

        }
        output += "</div>";
        var id = 'showTrainingDay' + day;
        var showTraining = document.getElementById(id);
        showTraining.innerHTML = output;
    }







    function saveTemp(day, trainingCode, number) {



        if (day == 1) { // 하나만보면됨
            dayTrainingArray1.splice(number, 1, trainingCode);
            var output = "";
            output += "<div>";
            for(var i=1; i<dayTrainingArray1.length; i++){
                if(dayTrainingArray1[i].includes('HTR')){
                    output += "<button type='button' onclick=sendTraining('" + dayTrainingArray1[i] + "')>상세보기</button>";
                }else {
                    output += "<button type='button' onclick=sendTraining('" + dayTrainingArray1[i] + "') disabled>상세보기</button>";
                }
            }
            output += "</div>";
            output += "<input type ='hidden' name ='myRoutineTrainingCode[]' value = "+dayTrainingArray1+">";

            var showLive = document.getElementById('showLive1');
            showLive.innerHTML = output;

        } else if (day == 2) {
            dayTrainingArray2.splice(number, 1, trainingCode);
            var output = "";
            output += "<div>";
            for(var i=1; i<dayTrainingArray2.length; i++){
                output += "<button type='button' onclick=sendTraining('" + dayTrainingArray2[i] + "')>상세보기</button>";
            }
            output += "</div>";
            output += "<input type ='hidden' name ='myRoutineTrainingCode[]' value = "+dayTrainingArray2+">";

            var showLive = document.getElementById('showLive2');
            showLive.innerHTML = output;
        } else if (day == 3) {
            dayTrainingArray3.splice(number, 1, trainingCode);
            var output = "";
            output += "<div>";
            for(var i=1; i<dayTrainingArray3.length; i++){
                output += "<button type='button' onclick=sendTraining('" + dayTrainingArray3[i] + "')>상세보기</button>";
            }
            output += "</div>";
            output += "<input type ='hidden' name ='myRoutineTrainingCode[]' value = "+dayTrainingArray3+">";

            var showLive = document.getElementById('showLive3');
            showLive.innerHTML = output;
        } else if (day == 4) {
            dayTrainingArray4.splice(number, 1, trainingCode);
            var output = "";
            output += "<div>";
            for(var i=1; i<dayTrainingArray4.length; i++){
                output += "<button type='button' onclick=sendTraining('" + dayTrainingArray4[i] + "')>상세보기</button>";
            }
            output += "</div>";
            output += "<input type ='hidden' name ='myRoutineTrainingCode[]' value = "+dayTrainingArray4+">";

            var showLive = document.getElementById('showLive4');
            showLive.innerHTML = output;

        } else if (day == 5) {
            dayTrainingArray5.splice(number, 1, trainingCode);
            var output = "";
            output += "<div>";
            for(var i=1; i<dayTrainingArray5.length; i++){
                output += "<button type='button' onclick=sendTraining('" + dayTrainingArray5[i] + "')>상세보기</button>";
            }
            output += "</div>";
            output += "<input type ='hidden' name ='myRoutineTrainingCode[]' value = "+dayTrainingArray5+">";

            var showLive = document.getElementById('showLive5');
            showLive.innerHTML = output;

        } else if (day == 6) {
            dayTrainingArray6.splice(number, 1, trainingCode);
            var output = "";
            output += "<div>";
            for(var i=1; i<dayTrainingArray6.length; i++){
                output += "<button type='button' onclick=sendTraining('" + dayTrainingArray6[i] + "')>상세보기</button>";
            }
            output += "</div>";
            output += "<input type ='hidden' name ='myRoutineTrainingCode[]' value = "+dayTrainingArray6+">";
            var showLive = document.getElementById('showLive6');
            showLive.innerHTML = output;

        } else if (day == 7) {
            dayTrainingArray7.splice(number, 1, trainingCode);
            var output = "";
            output += "<div>";
            for(var i=1; i<dayTrainingArray7.length; i++){
                output += "<button type='button' onclick=sendTraining('" + dayTrainingArray7[i] + "')>상세보기</button>";
            }
            output += "</div>";
            output += "<input type ='hidden' name ='myRoutineTrainingCode[]' value = "+dayTrainingArray7+">";

            var showLive = document.getElementById('showLive7');
            showLive.innerHTML = output;

        }


        console.log(dayTrainingArray1);
        console.log(dayTrainingArray2);
        console.log(dayTrainingArray3);
        console.log(dayTrainingArray4);
        console.log(dayTrainingArray5);
        console.log(dayTrainingArray6);
        console.log(dayTrainingArray7);


    }


</script>


<script>
    function guid() {
        function s4() {
            return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
        }

        return s4() + s4();
    }

    function show_uuid() {
        document.getElementById('uuid').value = guid();
    }

    $('document').ready(function () {
        show_uuid();
    })
</script>


</html>