header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 75px;
    padding: 1rem;
    color: white;
    background: teal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background: #2f3437;
    font-family: 'SUIT-Medium', sans-serif;
    color: #ffffff;
}

input[type="button"], [type="submit"], [type="reset"] {
    font-family: 'SUIT-Medium', sans-serif;
    margin: 2px;
    padding: 0.3rem 1rem;

    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: 98px;

    border: 3px solid #01f7ce;
    border-radius: 10px;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;

    background: var(--button-bg-color);
    color: var(--button-color);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 600px;

    padding: 40px;

    text-align: center;

    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


    font-family: 'SUIT-Medium', sans-serif;
    margin: 2px;
    padding: 0.3rem 1rem;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: 3px solid #01f7ce;
    border-radius: 10px;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;

    background: var(--button-bg-color);
    color: var(--button-color);
}

button:active,
button:hover,
button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
    color: black;
    font-weight: bold;
}

button:disabled {
    opacity: 0.5;
}

:root {
    --button-color: #ffffff;
    --button-bg-color: #2f3437;
    --button-hover-bg-color: #01f7ce;
}


select {
    width: 240px;
}


.test_obj input[type="radio"] {
    display: none;
}

.test_obj input[type="radio"] + span {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


    font-family: 'SUIT-Medium', sans-serif;
    margin: 2px;
    padding: 0.3rem 1rem;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: 60px;

    border: 3px solid #01f7ce;
    border-radius: 10px;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;

    background: var(--button-bg-color);
    color: var(--button-color);
}

.test_obj input[type="radio"]:checked + span {
    background-color: #01f7ce;
    color: #000000;
}

.container1 {
    display: grid;
    grid-template-columns: 1.3fr 0.8fr 0.7fr 0.5fr 1fr;
    grid-template-rows: 85% 15%;
}

.header1 {
    grid-column: 1/ -1;
    display: block;
    text-align: center;
}

.myRoutine_img{
    position: relative;
    width: 50%;
    height: 100%;
}

#header {
    border-top: none;
    border-bottom: solid 1px #01f7ce;
    border-right: none;
    border-left: none;
}


.estimate_div {
    text-align: center;
}

.table_div {
    display: inline-block;
}

.table {
    border-collapse: collapse;
    border-spacing: 50px;
}

#table {
    border-top: none;
    border-bottom: none;
    border-right: solid 1px #01f7ce;
    border-left: none;
    margin-top: 15px;
}

.caption1 {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

#caption {
    border-top: none;
    border-bottom: solid 1px #01f7ce;
    border-right: none;
    border-left: none;
    margin-top: 15px;
}

.th1 {
    font-size: 1.5em;
    padding-bottom: 20px;
}

#th1 {
    border-top: none;
    border-bottom: solid 1px #01f7ce;
    border-right: none;
    border-left: none;
    margin-top: 15px;
}

#th2 {
    border-top: none;
    border-bottom: solid 1px #01f7ce;
    border-right: none;
    border-left: none;
    margin-top: 15px;
}
.input{

}

.showPart {
    margin-top: 20px;
    text-align: center;
    padding-left: 30px;
}

.input2 {
    display: inline-block;

}

.part {
    overflow: auto;
}

.day {
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#Day {
    border-top: none;
    border-bottom: none;
    border-right: solid 1px #01f7ce;
    border-left: none;
    margin-top: 15px;
}
.showLive{

}

#showLive {
    border-top: none;
    border-bottom: none;
    border-right: solid 1px #01f7ce;
    border-left: none;
    margin-top: 15px;
}

.button_div {
    padding-top: 20px;
    padding-bottom: 12px;
}

.button {
    display: block;
    font-size: x-small;
    padding: 2px 40px;
    border: 1px solid #01f7ce;
    margin: auto;
}

.footer {
    grid-column: 1/-1;
    text-align: center;
}

.footer_h_div{
    display: inline-block;
    padding-top: 100px;
}

#footer {
    border-top: solid 1px #01f7ce;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;

}
/* memberRegistForm, memberModifyForm css */
.memberRegistcontainer{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 4fr ;
    grid-template-areas:
            "header header header"
            ". main .";
}
.header{
    grid-area: header;
}
.logo{
    filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(131deg) brightness(105%) contrast(105%);
    width: 25px;
    padding-right: 5px;
    padding-left: 5px;
}
.memberRegistcontainer2{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: main;
    grid-template-areas:
            ". main1 .";
}
#memberRegistcontainer2{
    border-top: solid 3px #01f7ce;
    border-bottom: solid 3px #01f7ce;
    border-right: solid 3px #01f7ce;
    border-left: solid 3px #01f7ce;
    border-radius: 20px / 20px;
    margin: 15px;
}
.loginForm{
    display: inline-block;
    grid-area: main1;
}
.loginForm_input{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
}

.lg_input{
    width: 100%;
}
.lg_input_btn{
    font-size: 0.7em;
}
.label{

}
.lg_input_btn2{
    padding-bottom: 15px;
}
.view{
    border-top: none;
    border-bottom: solid 3px #01f7ce;
    border-right: none;
    border-left: none;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
 }

/* MemberView css */
.img{
    width: 100%;
    height: 100%;
    position: relative;
}
textarea{
    resize: none;
}

/* boardList */
.gymListContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 120px 610px 20%;
    text-align: center;
}

.notice {
    display: inline-block;
    margin: 0 auto;
}

.normal {
    display: inline-block;
    margin: 0 auto;
}

.boardRegistContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 910px 20%;
    text-align: center;
}

.boardRegistMain {
    display: inline-block;
    margin: 0 auto;
}

/* companyList */
.companyListContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1520px 20%;
    text-align: center;
}

.companyListMain {
    display: inline-block;
    margin: 0 auto;
}

.companyViewContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1200px 20%;
    text-align: center;
}

.companyViewMain {
    display: inline-block;
    margin: 0 auto;
}

.companyRegistContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 910px 20%;
    text-align: center;
}

.companyRegistMain {
    display: inline-block;
    margin: 0 auto;
}

textarea {
    resize: none;
}

.boardViewContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 910px 20%;
    text-align: center;
}

.boardViewMain {
    display: inline-block;
    margin: 0 auto;
}

.companyContainer {
    display: inline-block;
    margin: 0 auto;
}
/*CompanyList div 시작점*/

.top-comment {
    overflow: hidden;
}

.top-comment .tc-item {
    margin-bottom: 23px;
    overflow: hidden;
}

.top-comment .tc-item .tc-thumb {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    float: left;
}

.top-comment .tc-item .tc-content {
    padding-left: 100px;
}

.top-comment .tc-item .tc-content p {
    font-size: 12px;
    color: #d3d3d3;
    margin-bottom: 5px;
}

.top-comment .tc-item .tc-content p a {
    color: #ff205f;
}

.top-comment .tc-item .tc-content p span {
    color: #378e3b;
}

.top-comment .tc-item .tc-content .tc-date {
    font-size: 12px;
    color: #ffb320;
}

.community-post-list {
    list-style: none;
}

.community-post-list li {
    padding: 33px 300px 50px;
    margin-bottom: 21px;
    overflow: hidden;
    border: 1px solid #878787;
    background: #1f2225;
    display: block;
}

.community-post-list .community-post .author-avator {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
}

.community-post-list .community-post .post-content {
}

.community-post-list .community-post .post-content h5 {
    font-size: 16px;
    color: #ff205f;
    font-weight: 400;
    margin-bottom: 10px;
}

.community-post-list .community-post .post-content h5 span {
    color: #7a7a7a;
    padding-left: 18px;
}

.community-post-list .community-post .post-content p {
    color: #fff;
    margin-bottom: 5px;
}

.community-post-list .community-post .post-content .post-date {
    font-size: 12px;
    color: #ffb320;
    margin-bottom: 18px;
}

.community-post-list .attachment-file {
    padding-top: 60px;
    max-width: 435px;
}

.community-top-title {
    margin-bottom: 50px;
}

.community-filter {
    margin-bottom: 80px;
}

.community-filter label {
    font-size: 18px;
    color: #1f2225;
    font-weight: 500;
    padding-right: 10px;
}

.community-filter select {
    width: 201px;
    height: 42px;
    font-size: 14px;
    padding: 0 18px;
    color: #1f2225;
    font-weight: 500;
}

.community-post-list {
    display: inline-block;
    margin: 0 auto;
}

.post-content {
    display: inline-block;
    margin: 0 auto;
}

.PTmembership table {
    text-align: center;
}

