<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gym.GYM.shopping.dao.ShoppingDAO">

	<select id="shoppingList" parameterType="String" resultType="product">
		SELECT * FROM PRODUCT ORDER BY PRODUCTHITS DESC
	</select>

	<update id="count" parameterType="String">
		UPDATE PRODUCT SET PRODUCTHITS = PRODUCTHITS+1 WHERE PRODUCTCODE=#{productCode}
	</update>


	<select id="wishdtoList" parameterType="String"
		resultType="wish">
		SELECT * FROM WISH WHERE WISHID=#{memeberId}
	</select>

	<select id="shoppingView" parameterType="String" resultType="product">
		SELECT * FROM PRODUCT WHERE PRODUCTCODE =#{productCode}
	</select>

</mapper>