<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="shoppingMain index"/>
    <title>책임GYM 쇼핑몰</title>
</head>
<!--<link rel = "stylesheet" type = "text/css" href = "css/style.css"> -->
<body>
    <h1>쇼핑몰 메인- 관리자 페이지</h1>
    <img src="GYM1/src/main/resources/static/ShoppingImg/123.png" width="150dp" height="100dp" alt="짱구">
    <button onclick="banner">배너 변경</button>
    <table>

            <img th:src="@{/ShoppingImg/}"/>


    <caption>Product List</caption>

        <tr>
            <th>상품사진명</th>
            <th>상품이름</th>
            <th>상품가격</th>
            <th>상품평점</th>
        </tr>

            <tr th:each="list : ${shoppingList}">
            <td><a th:href="@{shoppingView(productCode=${list.productCode})}" th:text="${list.productPhoto}"></a></td>
            <td th:text="${list.productName}"></td>
            <td th:text="${list.productPrice}"></td>
                <td th:text="${list.productRate}"></td>

        </tr>
    </table>
    <button th:if ="${session.login != null}" th:onclick ="|location.href='@{shoppingWishForm(memberId=${session.login.memberId})}'|">내 찜한목록 보기</button>


    <h3 th:if = "${session.login !=null}" th:text ="${session.login.memberId}"></h3>
    <h3 th:if = "${session.login !=null}" th:text ="${session.login.memberRole}"></h3>

</body>
</html>