<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="지우고 해당 html에 대한 설명 작성"/>
    <title>ShoppingAdminMain</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
</head>
<body>
<button onclick = 'location.href = "shoppingAdminRegistForm"'>(관리자)상품등록 페이지 이동</button>
<button onclick = 'location.href = "shoppingAdminList"'>(관리자)상품 리스트 페이지 이동</button>
<button onclick = 'location.href = "boardCSAdminList"'>관리자 고객센터</button>

</body>
</html>