<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="생로병사"/>
  <meta name="description" content="ShoppingView"/>
  <title>상품상세보기</title>
</head>
<link rel = "stylesheet" type = "text/css" href = "css/style.css">
<body>
  <table>
    <caption>ShoppingView</caption>

    <tr>
      <th>상품사진명</th>
      <td th:text="${view.productPhoto}"></td>
    </tr>
    <tr>
      <th>상품이름</th>
      <td th:text="${view.productName}"></td>
    </tr>
    <tr>
      <th>상품중량</th>
      <td th:text="${view.productWeight}"></td>
    </tr>
    <tr>
      <th>상품설명</th>
      <td th:text="${view.productComment}"></td>
    </tr>
    <tr>
      <th>상품가격</th>
      <td th:text="${view.productPrice}"></td>
    </tr>
  </table>

</body>
</html>