<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="생로병사" />
<meta name="description" content="지우고 해당 html에 대한 설명 작성" />

<title>책임GYM 쇼핑몰 찜 목록 보기</title>
</head>
<link rel = "stylesheet" type = "text/css" href = "css/style.css">
<body>
	<H1>홈페이지 나오나 테스트</H1>

	<table>
		<tr>
			<td th:if="${session.login !=null}" th:text="${wish.wishMorning}"></td>
			<td></td>
		</tr>

	</table>

	<input type="hidden" th:id="morning" th:value="${wish.wishMorning}">
	<input type="hidden" th:id="launch" th:value="${wish.wishLaunch}">
	<input type="hidden" th:id="dinner" th:value="${wish.wishDinner}">
	<input type="hidden" th:id="morningSnack"
		th:value="${wish.wishMorningSnack}">
	<input type="hidden" th:id="launchSnack"
		th:value="${wish.wishLaunchSnack}">
	<input type="hidden" th:id="dinnerSnack"
		th:value="${wish.wishDinnerSnack}">



	<div id="myWishList"></div>


</body>

<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js">
</script>
<script th:inline="javascript">
</script>
<script>
var ajaxMorning = document.getElementById('morning').value;
var ajaxLaunch = document.getElementById('launch').value;
var ajaxDinner = document.getElementById('dinner').value;
var ajaxMorningSnack = document.getElementById('morningSnack').value;
var ajaxLaunchSnack = document.getElementById('launchSnack').value;
var ajaxDinnerSnack = document.getElementById('dinnerSnack').value
var ajaxWishList= new Array(ajaxMorning,ajaxLaunch,ajaxDinner,ajaxMorningSnack,ajaxLaunchSnack,ajaxDinnerSnack); 

console.log(ajaxWishList);


$(document).ready(function(){
	$.ajax({
		type : "POST",
		url : "wishList",
		data : {"wish": ajaxWishList},
		dataType : "json",
		success : function(product){
			wishList(product);
			
		},error: function(){
			alert('wishList 실패')
		}

	});
	
	function wishList(product){
		var output="";
		
		output+="<table>";
		output+="<tr>";
		output+="<th>상품이름</th>";
		output+="<th>단백질</th>;
		output+="<th>탄수화물</th>";
		output+="<th>지방</th>;
		output+="<th>칼로리</th>;
		
		output+="<tr th:each='list: ${productView.}'>";

		output+="</tr>";

		output+="</tr>";

		output+="</table>";
		
	}
	
});




</script>

</html>




