<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="shoppingAdminList"/>
    <title>책임GYM 주문목록</title>
</head>
<link rel = "stylesheet" type = "text/css" href = "css/style.css">
<body>
    <h1>주문내역</h1>
    <button onclick = 'location.href = "shoppingMainForm"'>쇼핑몰 홈으로 이동</button>


</body>
</html>
