<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="shoppingMain index"/>
    <title>책임GYM 쇼핑몰</title>
    <link rel="apple-touch-icon" href="ShoppingAssets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="ShoppingAssets/img/favicon.ico">

    <link rel="stylesheet" href="ShoppingAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="ShoppingAssets/css/templatemo.css">
    <link rel="stylesheet" href="ShoppingAssets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="ShoppingAssets/css/fontawesome.min.css">


</head>
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->
<body>
<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </div>
            <div>
                <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                        class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                        class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i
                        class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="shoppingMainForm">
            GYM SM
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
             id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ShoppingAbout.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shoppingMainForm">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">지도</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                   data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="/basketForm">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
                          id="myBasketCount"></span>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="shoppingWishForm">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
                          id="myWishCount"></span>
                </a>
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Product</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        닭가슴살
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li>
                            <button class="text-decoration-none" value="chickenBreast"
                                    onclick="viewProductSelectAjax(this.value)">닭가슴살
                            </button>
                        </li>
                        <li>
                            <button type="text" class="text-decoration-none" value="friedRice"
                                    onclick="viewProductSelectAjax(this.value)">닭가슴살 볶음밥
                            </button>
                        </li>
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        음료/간식
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li>
                            <button class="text-decoration-none" value="drinkAndSnack"
                                    onclick="viewProductSelectAjax(this.value)">음료/간식류
                            </button>
                        </li>

                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        보충제
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li>
                            <button class="text-decoration-none" value="proteinSupplement"
                                    onclick="viewProductSelectAjax(this.value)">단백질 보충제
                            </button>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <p class="h3 text-dark text-decoration-none mr-3" href="#">주문시 조리 /  당일배송</p>
                        </li>

                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control" onchange="viewOrderSelectAjax(this)">
                            <option value="productRate">인기순으로 보기</option>
                            <option value="productName">이름순으로 보기</option>
                            <option value="productHits">조회수로 보기</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--상품 리스트 나오는 div모음-->
            <div id="mainProductView">
            </div>
            <div id="mainProductSelectView">
            </div>


            <div id="mainProductBaseView">
<!--                -->

            </div>
            <div id="mainProductFriedRiceView">
            </div>
            <div id="mainProductDrinkSnackView">
            </div>
            <div id="mainProductProteinSupplementView">
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">너의 식단을</h1>
                    <h1 class="h1">책임GYM Shopping Mall</h1>
                    <p>
                        저희 책임GYM Shopping Mall은 양질의 재료와, 주문 즉시 제조 및 포장배송을 원칙으로 하고있습니다.
                        여러분의 식단을 책임질 깨끗한 식단 책임GYM Shopping Mall입니다.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                                 data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/샐러드.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/볶음밥.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/닭가슴살.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/과일.jpg" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/샐러드.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/볶음밥.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/닭가슴살.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/과일.jpg" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/샐러드.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/볶음밥.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/닭가슴살.jpg" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="ShoppingAssets/img/과일.jpg" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">책임GYM Shopping Mall</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            학익동 663-1번지 5층 남구 인천광역시
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">닭가슴살</a></li>
                        <li><a class="text-decoration-none" href="#">볶음밥</a></li>
                        <li><a class="text-decoration-none" href="#">음료/간식</a></li>
                        <li><a class="text-decoration-none" href="#">보충제</a></li>

                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                    class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                               href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                    class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i
                                    class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
                               placeholder="책임GYM 소식 받기">
                        <div class="input-group-text btn-success text-light">Email제출</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name
                            | Designed by <a rel="sponsored" href="https://templatemo.com"
                                             target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>

<!-- End Footer -->
</body>

Start Script
<script src="ShoppingAssets/js/jquery-1.11.0.min.js"></script>
<script src="ShoppingAssets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="ShoppingAssets/js/bootstrap.bundle.min.js"></script>
<script src="ShoppingAssets/js/templatemo.js"></script>
<script src="ShoppingAssets/js/custom.js"></script>


<script integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    var loginId = [[${session.login.memberId}]];
    var viewOrderSelect = "";
    var viewProductSelect = "";

    console.log(viewOrderSelect);


    //쇼핑몰 메인 기본상품 리스트 불러오는 메소드
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "sohppingMainListAjax",
            data: {"viewOrderSelect": viewOrderSelect},
            dataType: "json",
            success: function (productList) {
                sohppingMainListView(productList);
            }, error: function () {
            }
        })
    })


    function sohppingMainListView(productList) {
        var output = "";
        for (let i in productList) {
            output += "<div className='products' style='width:200px'>";
            output += "<td>";
            output += " <a href='shoppingView?productCode=" + productList[i].productCode + "'  className='h3 text-decoration-none'><img alt='상품이미지' src='ShoppingImg/" + productList[i].productPhoto + "' style='width:200px' height: 'auto';></a>";
            output += " <p><a href='shoppingView?productCode=" + productList[i].productCode + "'  >" + productList[i].productName + "</a></p>";
            output += " <p className='price'>" + productList[i].productPrice + "원</p>";
            output += " </a>";
            output += "</td>";
            output += "</div>"

        }
        var product = document.getElementById("mainProductView");
        product.innerHTML = output;

    }

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "myBasketCount",
            data: {"memberId": loginId},
            dataType: "json",
            success: function (basketCount) {
                myBasketCount(basketCount);
            }, error: function () {
            }
        })

    })

    function myBasketCount(basketCount) {
        var output = basketCount;
        var basket = document.getElementById("myBasketCount");
        basket.innerHTML = output;
    }

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "myWishCount",
            data: {"memberId": loginId},
            dataType: "json",
            success: function (wishCount) {
                myWishCount(wishCount);
            }, error: function () {
            }
        })
    })

    function myWishCount(wishCount) {
        var output = wishCount;
        var wish = document.getElementById("myWishCount");
        wish.innerHTML = output;

    }

//보고싶은 상품의 종류를 선택하는 FUNCTION
    function viewProductSelectAjax(e) {

        viewProductSelect = e;
        viewProductSelectListAjax(viewProductSelect);
    }
    // 보고싶은 상품의 종류를 선택하면 그 리스트를 가져오는 ajax
    function viewProductSelectListAjax(viewProductSelect) {
        console.log(viewProductSelect);
        $.ajax({
            type: "GET",
            url: "viewProductSelectListAjax",
            data: {"viewProductSelect": viewProductSelect},
            dataType: "json",
            success: function (productList) {
               viewProductSelectOutput(productList)
            }, error: function () {
            }
        })
    }

    //보고싶은 상품의 기본리스트를 output하는 function
    function viewProductSelectOutput(productList){
        document.getElementById("mainProductView").style.display = "none";
        document.getElementById("mainProductSelectView").style.display = "none";
        document.getElementById("mainProductBaseView").style.display = "";

        var output = "";
        for (let i in productList) {
            output += "<div className='products'>";
            output += "<td>";
            output += " <a href='shoppingView?productCode=" + productList[i].productCode + "'  className='h3 text-decoration-none'><img alt='상품이미지' src='ShoppingImg/" + productList[i].productPhoto + "' style='width:250px' height: 'auto';></a>";
            output += " <p><a href='shoppingView?productCode=" + productList[i].productCode + "'  >" + productList[i].productName + "</a></p>";
            output += " <p>별점" + productList[i].productRate + "</p>";
            output += " <p>조회수" + productList[i].productHits + "</p>";
            output += " <p className='price'>" + productList[i].productPrice + "원</p>";
            output += " </a>";
            output += "</td>";
            output += "</div>"
        }
        var product = document.getElementById("mainProductBaseView");
        product.innerHTML = output;
    }

    // 상품 보는 순서(인기순, 조회수, 이름순)를 각각의 리스트 불러와서  output로 쏴주는 ajax
    function viewOrderSelectAjax(e) {
        viewOrderSelect = e.value;
        console.log(viewOrderSelect);
        if (viewProductSelect == "") {
            $.ajax({
                type: "GET",
                url: "sohppingMainListSelectAjax",
                data: {"viewOrderSelect": viewOrderSelect},
                dataType: "json",
                success: function (productList) {
                    viewOrderSelectOutput(productList);
                }, error: function () {
                }
            })

        } else if (viewProductSelect == "chickenBreast") {
            $.ajax({
                type: "GET",
                url: "sohppingMainListChickenBreastSelectAjax",
                data: {"viewOrderSelect": viewOrderSelect},
                dataType: "json",
                success: function (productList) {
                    viewOrderSelectOutput(productList);
                }, error: function () {
                }
            })

        } else if (viewProductSelect == "friedRice") {
            $.ajax({
                type: "GET",
                url: "sohppingMainListFriedRiceSelectAjax",
                data: {"viewOrderSelect": viewOrderSelect},
                dataType: "json",
                success: function (productList) {

                    viewOrderSelectOutput(productList);
                }, error: function () {
                }
            })

        } else if (viewProductSelect == "drinkAndSnack") {

            $.ajax({
                type: "GET",
                url: "sohppingMainListDrinkAndSnackSelectAjax",
                data: {"viewOrderSelect": viewOrderSelect},
                dataType: "json",
                success: function (productList) {

                    viewOrderSelectOutput(productList);
                }, error: function () {
                }
            })

        } else if (viewProductSelect == "proteinSupplement") {
            $.ajax({
                type: "GET",
                url: "sohppingMainListProteinSupplementSelectAjax",
                data: {"viewOrderSelect": viewOrderSelect},
                dataType: "json",
                success: function (productList) {

                    viewOrderSelectOutput(productList);
                }, error: function () {
                }
            })

        }
    }

    //상품 보는 순서 선택시 output해주는 function
    function viewOrderSelectOutput(productList) {
        document.getElementById("mainProductBaseView").style.display = "none";
        document.getElementById("mainProductView").style.display = "none";
        document.getElementById("mainProductSelectView").style.display = "";

        var output = "";
        for (let i in productList) {
            output += "<div className='products'>";
            output += "<td>";
            output += " <a href='shoppingView?productCode=" + productList[i].productCode + "'  className='h3 text-decoration-none'><img alt='상품이미지' src='ShoppingImg/" + productList[i].productPhoto + "' style='width:250px' height: 'auto';></a>";
            output += " <p><a href='shoppingView?productCode=" + productList[i].productCode + "'  >" + productList[i].productName + "</a></p>";
            output += " <p>별점" + productList[i].productRate + "</p>";
            output += " <p>조회수" + productList[i].productHits + "</p>";
            output += " <p className='price'>" + productList[i].productPrice + "원</p>";
            output += " </a>";
            output += "</td>";
            output += "</div>"
        }
        var product = document.getElementById("mainProductSelectView");
        product.innerHTML = output;
    }



</script>


</html>