<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="shoppingAdminList"/>
    <title>책임GYM 주문목록</title>
</head>
<link rel = "stylesheet" type = "text/css" href = "css/style.css">
<body>
    <h1>주문내역</h1>

    <table>
        <caption>주문내역</caption>
        <tr>
            <th>결제자아이디</th>
            <th>결제상품명</th>
            <th>결제상품개수</th>
            <th>결제가격</th>
        </tr>

        <tr th:each="list : ${shoppingHistoryList}">
            <td th:text="${list.payId}"></td>
            <td th:text="${list.payProduct}"></td>
            <td th:text="${list.payCount}"></td>
            <td th:text="${list.payPrice}"></td>

        </tr>
    </table> <br/><br/>

    <button onclick = 'location.href = "shoppingMainForm"'>쇼핑몰 홈으로 이동</button>


</body>
</html>
