<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="해당 html에 대한 설명"/>
    <title>타이틀</title>
    <meta name="date" content="2022.05.25">
    <title>책임짐 쇼핑몰(관리자) 상품 등록 페이지</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>쇼핑몰(관리자) 상품 등록</h1>
    <form action="shoppingAdminRegist" method="POST" enctype="multipart/form-data">

    </form>
</body>
</html>