<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="생로병사" />
<meta name="description" content="지우고 해당 html에 대한 설명 작성" />

<title>책임GYM 쇼핑몰 찜 목록 보기</title>
</head>
<body>
	<H1>찜목록 보기 페이지</H1>



	<h3 th:if = "${session.login !=null}" th:text ="${session.login.memberId}"></h3>
	<h3 th:if = "${session.login !=null}" th:text ="${session.login.memberRole}"></h3>



<table>


	<tr>
		<td>

		<th>상품이름</th>
		<th>칼로리</th>
		<th>탄수화물</th>
		<th>단백질</th>
		<th>지방</th>
		<th>나트륨</th>
		<th>가격</th>
		</td>


	</tr>

	<tr th:each="list : ${productDTOList}">

		<td><img th:src="@{/uploadfile/{aa}(aa=${list.productPhoto})}" style="width:200px;"></td>

		<td th:href="" th:text="${list.productName}"></td>
		<td th:text="${list.productKcal}"></td>
		<td th:text="${list.productCarbohydrate}"></td>
		<td th:text="${list.productProtein}"></td>
		<td th:text="${list.productFat}"></td>
		<td th:text="${list.productSalt}"></td>
		<td th:text="${list.productPrice}"></td>



<!--
<tr th:each="list:${MemberList}">
<td><a th:href="@{mView(mId=${list.mId})}" th:text="${list.mId}"></a> </td>
		-->


	</tr>


</table>




	</div>


</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:inline="javascript"> </script>
<script>




</script>

</html>




