<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="생로병사"/>
    <meta name="description" content="해당 html에 대한 설명"/>
    <title>타이틀</title>
    <meta name="date" content="2022.05.25">
    <title>장바구니</title>
</head>
<body>
<h1>Bascket</h1>
<table>
    <caption>장바구니</caption>
    <tr>
        <th>상품사진명</th>
        <th>상품이름</th>

        <th>상품평점</th>
        <th>수량선택</th>
        <th>가격</th>

    </tr>

    <tr th:each="list : ${myBasketList}">

        <td><a th:href="@{shoppingView(productCode=${list.productCode})}" th:text="${list.productName}"
               th:class="productName"></a></td>
        <td th:text="${list.productName}"></td>

        <td th:text="${list.productRate}"></td>
        <th><select th:name="${list.productCode}" onchange="opchan(this)" th:id="${list.productCode}"
                    th:class="productOrder" th:data="${list.productCode}">
            <option th:value="${list.productCode}">수량을 선택해주세요</option>

            <option

                    th:value="${list.productPrice} * 5"
                    th:text="${list.productName} + '5팩' + (${list.productPrice} * 5 )+ '원'"></option>

            <option th:value="${list.productPrice} * 10"
                    th:text="${list.productName} + '10팩' +(${list.productPrice} * 10)+ '원'"></option>

            <option th:value="${list.productPrice} * 15"

                    th:text="${list.productName} + '15팩' +( ${list.productPrice} * 15) + '원'"></option>

            <option th:value="${list.productPrice} * 20"

                    th:text="${list.productName} + '20팩' +( ${list.productPrice} * 20) + '원'"></option>
        </select>
            <div th:class="total">

            </div>

        </th>

    </tr>
    <tr>
        <th th:class="gggg">총 금액</th>


    </tr>
</table>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script th:inline="javascript">
    const loginId = [[${session.login.memberId}]];


    function opchan(e) {

        var value1 = e[0].value;

        var value5 = e.value;

        $.ajax({
            type: "POST",
            url: "bascketOrdersPriceUpdate",
            data: {
                "memberId": loginId,
                "productCode": value1,
                "orderPrice": value5
            },
            dataType: "json",
            success: function (list) {

            }, error: function () {
                alert("가격수정 실패")
            }
        })
    }


</script>


</html>